
body {
    background-color: #8BA1BB;
    font-family: Arial;
}
p.first {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 0px;
    padding: 8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}
.contenu {
    background-color: white;
    margin: 0px 30px 80px 30px; 
    padding: 30px;
    min-width: 350px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.3);
}
/* Mon commentaire */
h1 {
    text-align: center;  
    margin-bottom: 15px;
    margin-top: 10px;
}
p.descrip {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
div.description, .f, .d {
    text-align: center;
    width: 100%;
} 
div.f {
    margin-bottom: -20px;
    margin-top: 60px;
}

div.separateur {
    background-color: black;
    align-content: center;
    height: 1px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

table.info {
    position: absolute;
    background-color: #6C829DC0;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: white;
}

div.para {
    position: relative;
}

table.info td {
    text-align: center;
    font-size: 14px;
    vertical-align: top;
}

table.info th {
    text-align: center;
    font-size: 16px;
    vertical-align: bottom;
    padding: 6px;
}

img.d {
    display: block;
    width: 100%; 
    object-fit: cover;
}

div.colonne1 {
    /*background-color: lightblue;*/
    width: 45%;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10%;
    
}

div.colonne2 {
    float: right;
    width: 45%;
    display: block;
    margin-top: 20px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D;
    margin-bottom: 10px;
}
div.pan p {
    text-align: center;
    border: 1px solid lightgray;
    padding: 8px 0;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
}

table.preparation p.numero {
    background-color: #6C829D;
    color: white;
    width: 20px;
    text-align: center;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 2px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}
table.preparation td {
    vertical-align: top;
}

table.preparation td.preparation_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation tr {
    height: 40px;
}

* {
    overflow: auto;
}